<ion-view view-title='好评页'>
	<ion-nav-view>
	  <ion-content>
	  <div class="bottom">
       	    <div class="list card">
       	    	 <div class="item item-anatar">
       	    	      <i>好评榜</i>  
       	         </div>
       	         <div class="item item-body">
       	    	       <ul style='list-style: none;width:100%;'>
       	    	       	<li style="width:40%;height:100%;float:left;margin-left:10px;">
       	    	       		<img src='../img/li1.jpg' style='width:100%;display: block;'/>
       	    	       	</li>
       	    	       	<li style="width:40%;height:100%;float:left;margin-left:10px;">
       	    	       	    <img src='../img/li1.jpg' />
       	    	       	</li>
       	    	       	<li style="width:40%;height:100%;float:left;margin-left:10px;">
       	    	       		<p>
       	    	       			javascript课程<br/>
       	    	       			good.good非常好
       	    	       		</p>
       	    	       	</li>
       	    	       	<li style="width:40%;height:100%;float:left;margin-left:10px;">
       	    	       		<p>
       	    	       			UI/UE<br/>
       	    	       			UI非常好
       	    	       		</p>
       	    	       	</li>
       	    	       	<li style="width:40%;height:100%;float:left;margin-left:10px;">
       	    	       		<img src='../img/li1.jpg'/>
       	    	       	</li>
       	    	       	<li style="width:40%;height:100%;float:left;margin-left:10px;">
       	    	       		<img src='../img/li1.jpg'/>
       	    	       	</li>
       	    	       	<li style="width:40%;height:100%;float:left;margin-left:10px;">
       	    	       		<p>
       	    	       			Html课程<br/>
       	    	       			good.good非常好
       	    	       		</p>
       	    	       	</li>
       	    	       	<li style="width:40%;height:100%;float:left;margin-left:10px;">
       	    	       		<p>
       	    	       			jqurey课程<br/>
       	    	       			good.good非常好
       	    	       		</p>
       	    	       	</li>
       	    	       </ul>
       	         </div>
       	    </div>
       </div>
     </ion-content>
     </ion-nav-view>
</ion-view>
