<ion-view view-title='我的课程' style="height:800px;"> 
	<div class="list">
		<div class="item item-thumbnail-left" ng-repeat="(k,x) in attr"> 
			    <p>{{k.name1}}</p>
			    <p>{{k.name2}}</p>
			    <p>{{k.name3}}</p>
			    <p>{{k.src}}</p>
	            <!--<img src='../../img/li.jpg' style='width:100%;display:block;margin:10px;'/>
	            <p>1<br/>
	                                                前端教程<br/>
	               30
	            </p>-->
	     </div>
	     <!--<div class="item item-thumbnail-left">
	     	    <img src='../../img/li1.jpg' style='width:100%;display: block;margin:10px;'/>
	            <p>1<br/>
	                                                前端教程<br/>
	               30
	            </p>
	     </div>
	     <div class="item item-thumbnail-left">
		        <img src='../../img/li2.jpg' style='width:100%;display: block;margin:10px;'/>
		        <p>1<br/>
		                                   前端教程<br/>
		            30
		        </p>
	    </div>-->
   </div>
</ion-view>