<ion-view view-title='课程列表' style="height:800px;">
	  <div class='list'>
	  	   <a class='item item-thumbnail-left' href="#/home/mylesson/my">
	  	   	   <img src='../../img/list2.jpg' style="display:block;margin-top:2px;">
	  	   	   <p>我的出现只为等待你<br/>
	  	   	   	  are you on your way
	  	   	   </p>
	  	   </a>
	  	   <a class='item item-thumbnail-left' href="#/home/mylesson/my">
	  	   	   <img src='../../img/list2.jpg' style="display:block;margin-top:2px;">
	  	   	   <p>我的出现只为等待你<br/>
	  	   	   	  are you on your way
	  	   	   </p>
	  	   </a>
	  	   <a class='item item-thumbnail-left' href="#/home/mylesson/my">
	  	   	   <img src='../../img/list2.jpg' style="display:block;margin-top:2px;">
	  	   	   <p>我的出现只为等待你<br/>
	  	   	   	  are you on your way
	  	   	   </p>
	  	   </a>
	  	   <a class='item item-thumbnail-left' href="#/home/mylesson/my">
	  	   	   <img src='../../img/list2.jpg' style="display:block;margin-top:2px;">
	  	   	   <p>我的出现只为等待你<br/>
	  	   	   	  are you on your way
	  	   	   </p>
	  	   </a>
	  	   <a class='item item-thumbnail-left' href="#/home/mylesson/my">
	  	   	   <img src='../../img/list2.jpg' style="display:block;margin-top:2px;">
	  	   	   <p>我的出现只为等待你<br/>
	  	   	   	  are you on your way
	  	   	   </p>
	  	   </a>
	  </div>
</ion-view>
